<% if current_user %>
  <h1>Add Classmates, Connect with the School...</h1>

  <%= form_tag('/allUsers' , method: :get) do %>
    <%= text_field_tag :query %>
    <%= submit_tag 'Search' %>
  <% end %>

  <table>

    <thead>
        <tr>
            <td>User Name</td>
        </tr>
    </thead>

    <tbody>
  <% @users.each do |user| %>
    <tr>
      <td ><%= user.email %></td>
      <td>
        <%= button_to "Add as classmate",  {:controller => "friendships", :action => "sendFriendRequest", :recipient_id => user.id} , method: :post %>
      </td>

    </tr>
  <% end %>
  </tbody>

  </table>
  <br/>

  <table>
    Friend requests
    <thead>
        <tr>
            <td>User Name</td>
        </tr>
    </thead>

    <tbody>
  <% @pendingFriendRequests.each do |user| %>
    <tr>
      <td ><%= user.email %></td>
      <td>
        <%= button_to "Accept",  {:controller => "friendships", :action => "acceptFriendRequest", :recipient_id => user.id} , method: :post %>
      </td>

    </tr>
  <% end %>
  </tbody>

  </table>
  <br/>


  <table>
    Sent requests
    <thead>
        <tr>
            <td>User Name</td>
        </tr>
    </thead>

    <tbody>
  <% @sentFriendRequests.each do |user| %>
    <tr>
      <td ><%= user.email %></td>
      <td>
        <%= button_to "Waiting...",  {:controller => "friendships", :action => "sendFriendRequest", :recipient_id => user.id} , method: :post %>
      </td>

    </tr>
  <% end %>
  </tbody>

  </table>
  <br/>

  <%= link_to 'Sign Out' , destroy_user_session_path , method: :delete %><br/>
  <%= link_to 'Friend requests' , friendrequests_path , method: :get %> <br/>
  <%= link_to 'Go back to home' , root_path %>
<% else %>
  <%= controller.redirect_to root_path %>
<% end %>
